@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    user-select: none;
}

/* Header styles for desktop */
.header {
    width: 100%;
    height: 84px;
    background-color: #F5F7FA;
}

.container {
    padding: 0 144px;
}

.container--header {
    height: inherit;
    padding: 0 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 154px;
    height: 24px;
}

.header__list {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header__item:not(:last-of-type) {
    margin-right: 50px;
}

.header__link {
    color: #18191F;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    transition: all 200ms linear;
}

.header__link:hover {
    color: #4CAF4F;
}

.header__btn:first-child {
    margin-right: 14px;
}

.btn {
    font-family: "Inter", sans-serif;
    border: 0;
    border-radius: 6px;
    line-height: 20px;
}

.btn--primary {
    background-color: #4CAF4F;
    color: #ffffff;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn--primary:active {
    background-color: #388E3B;
}

.btn--secondary {
    background-color: #F5F7FA;
    color: #4CAF4F;
    cursor: pointer;
    transition: all 100ms linear;
}

.btn--secondary:hover {
    background-color: #e7eaed;
}

.btn--secondary:active {
    background-color: #E8F5E9;
    transition: none;
}

.header__btn {
    padding: 10px 20px;
}


/* Header media query for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .container--header {
        padding: 0 30px;
    }

    .header__item:nth-child(2),
    .header__item:nth-child(3),
    .header__item:nth-child(5) {
        display: none;
    }

    .btn--secondary.header__btn {
        border: 1px solid #4CAF4F;
    }
}

/* Header media query for mobile */
@media (min-width: 320px) and (max-width: 425px) {
    .container--header {
        padding: 0 5px;
    }

    .header__list {
        display: none;
    }

    .btn--secondary.header__btn {
        border: 1px solid #4CAF4F;
    }
}

/* Hero section styles for desktop */
.hero {
    background-color: #F5F7FA;
}

.hero__wrapper {
    display: flex;
    padding-top: 96px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    color: #4D4D4D;
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero__accent {
    color: #4CAF4F;
}

.hero__text {
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

.hero__btn {
    padding: 14px 32px;
    border-radius: 4px;
    line-height: 24px;
}

.hero__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.hero__dot {
    width: 10px;
    height: 10px;
}

.hero__dot:not(:last-child) {
    margin-right: 8px;
}

.hero__dot--disabled:not(:hover) {
    opacity: 30%;
}

@keyframes hero-animation {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1.05);
    }
}

.hero__media {
    width: 391px;
    height: 407px;
    animation: hero-animation 2s ease-in-out infinite alternate;
}

/* Hero section media query for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0 30px;
    }

    .hero__wrapper {
        flex-direction: column;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        padding: 62px 0;
    }

    .hero__media {
        margin-bottom: 20px;
    }

    .hero__btn {
        width: 128px;
        align-self: center;
    }
}

/* Hero section media query for mobile */
@media (min-width: 320px) and (max-width: 425px) {
    .container {
        padding: 0 30px;
    }

    .hero__wrapper {
        flex-direction: column;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        padding: 62px 0;
    }

    .hero__title {
        font-size: 58px;
        line-height: 62px;
    }

    .hero__media {
        margin-bottom: 20px;
    }

    .hero__btn {
        width: 128px;
        align-self: center;
    }
}

/* Community section styles */
.community {
    background-color: #FFFFFF;
}

.community__clients {
    padding: 40px 0;
}

.community__title,
.community__text {
    text-align: center;
}

.community__title {
    color: #4D4D4D;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 8px;
}

.community__text {
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.community__icons {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.community_logo:hover {
    opacity: 70%;
}

.segments__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.segments__card {
    width: 299px;
    height: 280px;
    padding: 24px 32px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 100ms linear;
}

.segments__card:hover .segments__title {
    color: rgb(76, 175, 79);
}

.segments__card:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(171, 190, 209, 0.6);
    -moz-box-shadow: 0px 2px 8px 0px rgba(171, 190, 209, 0.6);
    box-shadow: 0px 2px 8px 0px rgba(171, 190, 209, 0.6);
}

.segments__title {
    color: #4D4D4D;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    transition: all 100ms linear;
}

.segments__text {
    color: #717171;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.segments__img {
    width: 65px;
    height: 56px;
    margin-bottom: 18px;
}

.community__feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.feature__media {
    animation: hero-animation 2s ease-in-out infinite alternate;
    margin-right: 49px;
}

.feature__title,
.feature__text {
    text-align: start;
}

.feature__title {
    margin-bottom: 16px;
}

.feature__text {
    margin-bottom: 32px;
}

.community__btn {
    border-radius: 4px;
    padding: 14px 32px;
}

/* Community section media query for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .community__feature {
        flex-direction: column;
    }

    .feature__title,
    .feature__text {
        text-align: center;
    }

    .feature__content {
        display: flex;
        flex-direction: column;
    }

    .community__btn {
        max-width: 151px;
        align-self: center;
    }
}